html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
menu,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

html,
body {
  width: 3480px !important;
  height: 1044px !important;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu,
ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

*::-webkit-scrollbar {
  width: 0px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#root {
  width: 3480px !important;
  height: 1044px !important;
  margin: 0 auto;
  overflow-y: hidden;
}

.allModal .ant-modal-content {
  background-color: transparent;
}

.allModal .ant-modal-body {
  padding: 0;
}

.carousel-wrapper {
  position: absolute;
  width: 440px;
  height: 590px;
  margin: auto;
  left: 0;
  right: 0;
  top: 120px;
  padding-top: 350px;
  margin-top: -350px;
}

.carousel {
  position: relative;
  width: 100%;
  margin: auto;
  height: 100%;
}

.carouselContent {
  transform-style: preserve-3d;
  width: 100%;
}

.itemWrapper {
  position: absolute;
  top: 0;
  left: 0;
  transform-style: preserve-3d;
  width: 100%;
}

.itemWrapper .rotateLayer .bgAndBlurLayer {
  border-radius: 8px;
  background: transparent;
  transition: filter 0.45s;
  margin: auto;
  /* transform: scale(1.1); */
}

.itemWrapper .rotateLayer .bgAndBlurLayer .contentLayer {
  transition: opacity 0.65s;
}

.img-wrapper {
  height: 590px;
  background-size: cover;
  background-position: center;
}

.circle_left_btn {
  position: absolute;
  width: 240px;
  height: 240px;
  border-radius: 100%;
  top: 180px;
  left: 695px;
  cursor: pointer;
}

.circle_right_btn {
  position: absolute;
  width: 240px;
  height: 240px;
  border-radius: 100%;
  top: 180px;
  left: 1435px;
  cursor: pointer;
}

input::-webkit-input-placeholder {
  /* 修改颜色 */
  color: #fff !important;
}